<!-- Scripts -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="892797252257-1iasbgs1s2nrphr7dfsd1s7ted2isck1.apps.googleusercontent.com">
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
<script src="/css/vendor/jquery/jquery.min.js"></script>
<script src="/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/css/assets/js/owl-carousel.js"></script>
<script src="/css/assets/js/animation.js"></script>
<script src="/css/assets/js/imagesloaded.js"></script>
<script src="/css/assets/js/popup.js"></script>
<script src="/css/assets/js/custom.js"></script>
<script src="/css/form/form.js"></script>

</body>

</html>